extends layout

block content
  #home.vignette
    .flex
      .container
        .row
          .span10.offset1
            #box.effect3
              .wrapper
                block box
              .overlay
            p.version
              | Sandbox Project v.#{version} &#8212; &#169; outaTiME, Inc. #{year}.
              //
                | &#8212; All Rights Reserved.
