extends layout

block content
  #home.vignette
    .flex
      .container
        .row
          .span10.offset1
            #box
              .wrapper
                block box
              .overlay
