extends layout

block content
  #small.vignette
    .flex
      .container
        .row
          .span6.offset3
            #box.effect3
              .wrapper
                block box
            p.version
              | Sandbox Project v.#{version} &#8212; &#169; outaTiME, Inc. #{year}.
              //
                | &#8212; All Rights Reserved.

