extends box

block title
  title Inout &#8212; Sandbox

append styles
  link(rel="stylesheet", href="/css/inout.css")

append scripts
  script(src="http://maps.googleapis.com/maps/api/js?sensor=false&language=es&amp;region=AR&libraries=drawing")
  script(src="/js/inout" + (debug === true ? ".js" : ".min.js"))
  script
    $(function () {
      initialize(!{bounds});
    });

append box
  .tabbable
    ul.nav.nav-tabs
      li.active
        a(href="#1", data-toggle="tab") Home
      li
        a(href="#2", data-toggle="tab") Viewport
      //
        li.version
          | v.#{version}
      li.dropdown(style="float: right;")
        a.dropdown-toggle(href="#", data-toggle="dropdown") User
          b.caret
        ul.dropdown-menu
          li
            a.disable(href="#") Profile
          li
            a.disable(href="#") Account Settings
          li.divider
          li
            a(href="/logout") Sign Out
    .tab-content
      #1.tab-pane.active
        section#welcome
          .page-header

            div
              i.icon-eye-open.icon-large
              span Welcome

          .alert.alert-info
            strong Heads up!&nbsp;
            | Best check yo self, you're not looking too good. Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.

          button.btn.btn-primary.btn-large(type="button") Start »

        section#place_locator
          .page-header

            div
              i.icon-search.icon-large
              span Place locator

          //
            .alert.alert-info
              strong Heads up!&nbsp;
              | Best check yo self, you're not looking too good. Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.

          form#search

            .control-group(style="margin-left: 10px; margin-bottom: 0;")
              .controls
                input#keywords.input-xxlarge(type="text", placeholder="Search...")
            .area
              button.btn.btn-primary.btn-large(type="submit") Search

        section#view
          .page-header.clearfix

            div(style="display: block; float: left;")
              i.icon-map-marker.icon-large
              span.ellipsis

            div(style="display: block; float: right;")
              button#btn-back.btn.btn-small(type="button") « Volver

          //
            .alert.alert-error
              strong Oh snap!&nbsp;
              | Test feature is coming soon, you're not looking too good. Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.

          div(style="margin-left: 4px;")
            .map-container
              #map
              .info.inside
                i.icon-thumbs-up.icon-large
                p.status Inside
              .info.outside
                i.icon-remove.icon-large
                p.status Outside
                p.small

      #2.tab-pane

        div.tab-container

          section#update
            .page-header.clearfix

              div(style="display: block; float: left;")
                i.icon-screenshot.icon-large
                span Area

              div(style="display: block; float: right;")
                button#btn-save.btn.btn-small.btn-primary(type="button") Salvar

            div(style="margin-left: 4px;")
              #map-bounds

