

@import "jquery.dataTables.css";

@import "styles/default.css";

@import "bootstrap/variables.less";

table.dataTable {
  text-align: left;
}

table.dataTable thead th {
  padding: 3px 10px;
  cursor: default;
  border-bottom: 1px solid #DDD;
  font-weight: bold;
}

table.dataTable tr.odd {
  background-color: #EEE;
}

code, pre {
  border: 0;
  padding: 0 !important;
  margin: 0 !important;
  background-color: #FFF !important;
}

div.modal {
  text-align: left;
}
