
@import "bootstrap/variables.less";

#home #box .nav-tabs,
#home #box .nav-pills {
  /* padding: 0 18px; */
}

#home #box ul.nav.nav-tabs li.version  {
  float: right;
  padding-top: 8px;
  color: #BBB;
  font-size: 10px;
}

#home #box .tabbable .tab-content {
}

#home #box .tabbable .tab-content section {
  /* margin: 18px 0; */
  height: 100%;
  width: 100%;
}

#home #box .tabbable .tab-content section .page-header {
  text-align: left;
  margin: 0 0 18px 0;
}

#home #box .tabbable .tab-content section .page-header [class^="icon-"],
#home #box .tabbable .tab-content section .page-header [class*=" icon-"] {
  line-height: 27px;
  margin: 3px 9px 0;
}

#home #box .tabbable .tab-content section button {
  /* width: 100px; */
}

#home #box .tabbable #search input {
  margin-bottom: 18px;
  width: 100%;
  margin-left: -10px;
  height: 25px;
  font-size: 18px;
  line-height: 23px;
}

#home #box .tabbable #search .area {
  background-image: url("/images/spinner.gif");
  background-position: center;
  background-repeat: no-repeat;
}

section .page-header span {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 18px;
  font-weight: 200;
  /* line-height: 25px;  */
  line-height: 28px !important;
}

section .page-header span.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 150px;
}

section .page-header i {
  float: left;
  margin-top: 7px !important;
}

/** Map **/

#map, #map-bounds {
  border: 2px solid #DDD;
  width: 100%;
  margin-left: -4px;
  min-width: 280px;
}

#map img, #map-bounds img {
  max-width: none;
}

/** In / Out styles **/

section#view span.in {
  color: @successText;
}

section#view span.out {
  color: @errorText;
}

#map.in {
  border: 2px solid @successText;
}

#map.out  {
  border: 2px solid @errorText;
}
